@using NewLife.Cube
@using NewLife.GitCandy.Entity
@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;

    var dic = new Dictionary<Int32, String>();
    dic.Add(1, "私有");
    dic.Add(0, "公开");
}
@await Html.PartialAsync("_Enable")
<div class="form-group">
    <label for="isPrivate" class="control-label">私有：</label>
    @Html.ForDropDownList("isPrivate", dic, page["isPrivate"], "全部", true)
</div>
@*@await Html.PartialAsync("_SelectDepartment", "departmentId")*@
@await Html.PartialAsync("_DateRange")
