@{
    ViewBag.Title = String.Format(SR.Shared_TitleFormat, SR.Home_AboutTitle);
}

<h4>@SR.Home_AboutTitle</h4>

<div id="md">
@Html.Raw(SR.Home_AboutDescription)
* [ASP.NET MVC](http://aspnetwebstack.codeplex.com/) @@ [Apache License 2.0](http://aspnetwebstack.codeplex.com/license)
* [Bootstrap](http://github.com/twbs/bootstrap) @@ [MIT License](http://github.com/twbs/bootstrap/blob/master/LICENSE)
* [Bootstrap-switch](http://github.com/nostalgiaz/bootstrap-switch) @@ [Apache License 2.0](http://github.com/nostalgiaz/bootstrap-switch/blob/master/LICENSE)
* [FxSsh](http://github.com/Aimeast/FxSsh) @@ [MIT license](http://github.com/Aimeast/FxSsh/blob/master/LICENSE.md)
* [Highlight.js](http://github.com/isagalaev/highlight.js) @@ [New BSD License](http://github.com/isagalaev/highlight.js/blob/master/LICENSE)
* [jQuery](http://github.com/jquery/jquery) @@ [MIT License](http://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt)
* [LibGit2Sharp](http://github.com/libgit2/libgit2sharp) @@ [MIT License](http://github.com/libgit2/libgit2sharp/blob/master/LICENSE.md)
* [marked](http://github.com/chjj/marked) @@ [MIT License](http://github.com/chjj/marked/blob/master/LICENSE)
</div>