@model GitCandy.Models.PathBarModel
@{
    var branch = (Model.ReferenceName ?? Model.ReferenceSha);
}

<ul class="breadcrumb">
    <li>@Html.ActionLink(Model.Name, Model.Action, Html.OverRoute(new { branch, path = "" }))</li>

    @if (!String.IsNullOrEmpty(Model.Path))
    {
        var dirs = Model.Path.Split('/');
        var length = dirs.Length;
        var currentPath = String.Empty;
        for (var i = 0; i < length; i++)
        {
            if (i != 0)
            {
                currentPath += "/" + dirs[i];
            }
            else
            {
                currentPath += dirs[i];
            }
            if (i + 1 == length)
            {
                <li class="active">
                    @dirs[i]
                </li>
            }
            else
            {
                <li>@Html.ActionLink(dirs[i], Model.Action, Html.OverRoute(new { branch, path = currentPath })) </li>
            }
        }
    }
</ul>
