@model String

<div class="btn-group">
    <a href="@Url.Action("Archive", Html.OverRoute(new { path = Model }))" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span>@SR.Repository_Zip</a>
</div>
